@{
    ViewBag.Title = "Home";
}
 
<div class="container">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
     
    <div class="row">
        <div class="col-md-3">
            <p>
                It's an education game that creates fun. This fun story game lets you select best story title from multiple titles.
            </p>
            <p>
                Players learn the value of not only reading a story but also reviewin it.
            </p>
            <p>
                Invest your brain in this education game and win exciting prices. A best way to excercise your mind in healthy way.
            </p>
            <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/Images/center_img.jpg" class="img-thumbnail"/>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>