@{
    ViewBag.Title = "Home";
}


<!-- Banner Start -->
<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">



        <div id="templatemo_banner_content">
           
           
                <p>
                    It's an education game that creates fun. This fun story game lets you select best story title from multiple titles.
                </p>
                <p>
                    Players learn the value of not only reading a story but also reviewin it.
                </p>
                <p>
                    Invest your brain in this education game and win exciting prices. A best way to excercise your mind in healthy way.
                </p>

               
            <div class="button_01"><a href="@Url.Action("About", "Home")"> learn more</a></div>
        </div>

        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="images/center_img.jpg" alt="image 1" />
            </div>
        </div>

        <div class="cleaner"></div>
    </div>
</div>

@*<div>
    <div style="float:right">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Images/center_img.jpg" alt="" />
        </a>
    </div>
    <div style="float:left">
    <p>
        It's an education game that creates fun. This fun story game lets you select best story title from multiple titles.
    </p>
    <p>
        Players learn the value of not only reading a story but also reviewin it.
    </p>
    <p>
        Invest your brain in this education game and win exciting prices. A best way to excercise your mind in healthy way.
    </p>

    <p>
        <a href="@Url.Action("About", "Home")">Learn more…</a>
    </p>
    </div>

   
</div>*@
